[MESSAGES CONTROL]

# disable nuances in coding standards accepted in alembic
# as alembic runs from its own python environment
disable=
        # alembic runs in different path
        import-error,
        # models may not contain public methods
        too-few-public-methods,
        # allow alembic env to import all models
        wildcard-import, unused-wildcard-import


[FORMAT]
max-line-length=120
